<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kris.acg.mapper.TagTopicMapper">
    <insert id="insertBatch">
        insert into tb_tag_topic(id,topic_id,tag_id,create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.topicId},#{item.tagId},#{item.createTime})
        </foreach>
    </insert>
    <delete id="deleteTagTopic">
        delete from tb_tag_topic where topic_id = #{topicId}
    </delete>

    <select id="selectTagIds" resultType="java.lang.Integer">
        select tag_id from tb_tag_topic where topic_id=#{topicId} and deleted=0
    </select>
    <select id="selectTopicIds" resultType="java.lang.Long">
        select topic_id from tb_tag_topic where tag_id=#{tagId} and deleted=0
    </select>
</mapper>